.vscode
.qt

demon/build/CMakeFiles
demon/build/cmake_install.cmake
demon/build/CMakeCache.txt
demon/build/Makefile
demon/build/build.ninja
demon/build/compile_commands.json
demon/build/.cmake


ui/build