[Unit]
Description=Auto Brightness Iluminance Service (github.com/Ch-Tima)
After=graphical.target

[Service]
ExecStart=?ES
Restart=always
RestartSec=30
User=?U
WorkingDirectory=?WD
StandardOutput=append:/var/log/autobrightness.log
StandardError=append:/var/log/autobrightness_error.log

[Install]
WantedBy=graphical.target
